.footer {
  display: flex;
  padding-bottom: 60px;
  padding-top: 67px;
}

.footer__text {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 21.78px;
  color: #545454;
  margin: 0;
}

@media screen and (max-width: 1100px) {
  .footer {
    max-width: 880px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    padding-bottom: 36px;
    padding-top: 30px; /*This is 48px in the brief however I subtracted the difference to make up for the grid gap thats in the last card. (18px) at 320px*/
  }

  .footer__text {
    font-size: 14px;
    margin-left: 19px;
  }
}
