.form__input {
  width: 430px;
  height: 14px;
  margin-top: 31px; 
  margin-right: auto;
  margin-left: auto;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 13px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  max-width: 100%;
}


.form__input:last-of-type {
  margin-top: 41px; 
}

.form__button {
  background-color: black;
  color: white;
  padding: 15px 30px; 
  margin-top: 55px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  border: none;
  display: block; 
  width: 100%; 
  box-sizing: border-box; 
}

.form__button:hover {
  cursor: pointer;
  opacity: 0.6;
}


@media (max-width: 590px) {
  .form__input { 
    margin-left: 19px; 
    margin-right: 19px;
  }

  .form__button {
    height: 46px; 
    border-radius: 2px;
  }
}
