.header {
  padding-top: 45px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 1100px) {
  .header {
    max-width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .header__logo {
    height: 24px;
    width: 126px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 100%;
    box-sizing: border-box;
    margin-top: 28px;
    padding-bottom: 32px;
  }

  .header__logo {
    margin-left: 30px;
  }

  .header.page__section {
    max-width: 100%; /*I figured line 22 should have fixed the header border line, I tried literally everything possible this seems like the only fix for extending the header line accross the entire page at 320px.  */
  }
}
