.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display:none;
  padding: 0 19px;
}

.modal__opened {
  display: flex;
}

.modal__container {
  padding: 36px;
  background-color: white;
  border-radius: 10px;
  margin: auto;
  position: relative;
}

.modal__close {
  position: absolute;
  top: -45px;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 40px;
  height: 40px;
  background-image: url(../images/Close-modal.svg);
  border: none;
  background-color: transparent;
  outline: none;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

@media screen and (max-width: 630px) {
 
}
