.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display:none;
  padding: 0 19px;
}

.modal__opened {
  display: flex;
}

.modal__container {
  padding: 34px;
  background-color: white;
  border-radius: 10px;
  margin: auto;
  position: relative;
  max-width:430px;
  margin-top:195px;
  margin-left:auto;
  margin-right:auto;
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__close {
  position: absolute;
  top: -45px;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 40px;
  height: 40px;
  background-image: url(../images/Close-modal.svg);
  border: none;
  background-color: transparent;
  outline: none;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.modal__heading {
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  line-height: 29.05px;
  font-family: "Inter", sans-serif;
  color:black;
  margin:0;
}


@media (max-width: 590px) {
  .modal__container {
    width: 282px;
    height: 322px;
    top: 123px;
    left: 19px;
    border-radius: 10px;
    
  }
}

@media (max-width: 500px) {
  .modal__container {
    position: fixed !important; 
   left: 50% !important;
   transform: translate(-50%, -50%) !important;
   
  }
}

